services:
  package:
    build:
      context: .
      args:
        PHP_VERSION: ${PHP_VERSION:-8.4}
    tty: true
    volumes:
      - ./bundle:/app/bundle
      - ./src:/app/src
      - ./bundle:/app/bundle
      - ./tests:/app/tests
      - ./types:/app/types
      - ./composer.json:/app/composer.json
      - ./composer.lock:/app/composer.lock
      - ./phpunit.dist.xml:/app/phpunit.dist.xml
      - ./phpstan.dist.neon:/app/phpstan.dist.neon
      - ./extension.neon:/app/extension.neon
